<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ArUco Motion Detection Thesis">
    <meta name="author" content="Mithil Kashipurad">
    <title>ArUco Motion Detection Thesis</title>

    <!-- font icons -->
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">

    <!-- favicon -->
    <link rel="icon" href="/static/imgs/aruco_logo.png">

    <!-- owl carousel -->
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + CSS main styles -->
	<link rel="stylesheet" href="/static/css/css_file.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/imgs/aruco_logo.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4 class="subtitle font-weight-normal" style="color:aliceblue">ArUco Motion Detection</h4>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link btn btn-info" style="border-radius:5px" href="/detection_info" target="_blank"><img src="/static/imgs/info.png" alt="" class="brand-img" style="height:20px;width:20px"> &nbsp;Page Info</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header id="home_header" class="header">

        <div class="overlay"></div>
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <form class="contact-form" method="POST" id="form">
                        <div class="form-row">
                            <div class="col form-group">
                                 <center>
                                     <h2 class="subtitle font-weight-normal" style="color:rgb(64,127,183);"><b>Detection</b></h2>
                                </center>
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <center>
                                    <h6 class="subtitle font-weight-normal" style="color:aliceblue"><br></h6>
                                </center>
                            </div>
                        </div>
                        <div style="background-color:rgb(0, 0, 0, 0.3);padding-top:20px;padding-bottom:20px;">
                            <div class="form-row">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue"></h6>
                                    </center>
                                </div>
                             </div>
                            <div class="form-row">
                                <div class="col form-group">
                                     <center>
                                        <div>
                                            <button id="start" name="start" type="button" class="btn btn-success" style="background-color: #4CAF50;border-radius:5px;border:0px" onclick="modal_close_warning();">&nbsp;&nbsp; Start Video Stream &nbsp;&nbsp;</button>
                                        </div>
                                    </center>
                                 </div>
                            </div>
                        </div>
                        <div style="background-color:rgb(0, 0, 0, 0.3);padding-top:20px;margin-top:20px;">
                            <div class="form-row">
                                <div class="col form-group">
                                    <center>
                                        <button type="button" style="display:none;background-color:rgb(64,127,183);border-radius:5px" id="to_visuals" name="to_visuals" class="btn btn-block" onclick="window.location.href='/visualizations'">To Visualizations &nbsp;&nbsp;<b style="font-size:18px;">></b></button>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <center>
                                    <h6 class="subtitle font-weight-normal" style="color:aliceblue"><br></h6>
                                </center>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <center>
                                    <h6 class="subtitle font-weight-normal" style="color:aliceblue"><br></h6>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </header>
    <div id="modal_init" class="modal" >
        <div class="modal-content" style="margin-top:50px;">
            <center>
                <h5 style="color:rgb(237, 62, 62, 1);text-align:center;padding-top:30px;"><b>Initializing</b></h5>
                <br><br>
                <img style="margin-top:40px;margin-bottom:70px;" src="static/imgs/loading.gif" width="80" height="80">
                <br><br>
            </center>
        </div>
    </div>
    <div id="modal_info" class="modal" >
        <div class="modal-content" style="margin-top:120px;border-radius:20px">
            <center>
                <div style="background-color: rgb(255, 204, 0, 0.4);padding-bottom:20px;border-radius:20px">
                    <p style="background-color: rgb(237, 62, 62, 0.4);padding-top:10px;padding-bottom:10px;border-radius:20px 20px 0px 0px;color:red"><b>Important NOTE:</b></p>
                    <p style="padding-top:10px;">
                        <br>
                        <i> The <u>minimum requirement</u> for correct results is that the Aruco markers attached to the tools
                            <br>
                            are detected <b>entirely/correctly</b> at <u>all times</u> when the tool is not being used (at rest).</i>
                        <div style="padding-bottom:10px;">Click <a href="/tips" target="_blank">here</a> for tips.</div>
                    </p>
                    <button type="button" id="understood" name="understood" class="btn btn-primary btn-block" style="border-radius: 5px" onclick="modal_close()">Understood </button>
                </div>
            </center>
        </div>
    </div>
    <div id="modal_warning" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="margin-top:120px;border-radius:20px">
          <p>
            <center>
                <div style="background-color: rgb(255, 204, 0, 0.4);padding-bottom:20px;border-radius:20px">
                    <p style="background-color: rgb(237, 62, 62, 0.4);padding-top:10px;padding-bottom:10px;border-radius:20px 20px 0px 0px;color:red"><b> NOTE: </b></p>
                    <p style="padding-top:10px;">
                        You  may now proceed to the working area for using the tools.
                        <br><br>
                        <b>Please remember to stop the detection once you are done.</b>
                        <br>
                        <i>To close the Video Stream Window click
                        the cross (X) button on the top right corner of the detection window.</i>
                    </p>
                    <button type="button" id="understood1" name="understood1" class="btn btn-primary btn-block" style="border-radius: 5px" onclick="modal_close();send_stream();modal_init();display_visual_button()">Understood </button>
                </div>
            </center>
          </p>
        </div>
	</div>
	<!-- core  -->
    <script src="/static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Owl carousel  -->
    <script src="/static/vendors/owl-carousel/js/owl.carousel.js"></script>

    <!-- Script js -->
    <script src="/static/js/scripts.js"></script>

    <script src="/static/js/disable_browser_back_button.js"></script>

    <script type="text/javascript">

        //display info modal on window load
        $(window).on('load', function() {
            $('#modal_info').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_info').modal('show');
            $(".modal-backdrop").remove();
            /*var span = document.getElementsByClassName("close")[0];
            /span.onclick = function() {
                $('#modal_file_exists').modal('hide');
            }
            */

        });

        // Close the modal
        function modal_close(){
            $('#modal_info').modal('hide');
            $('#modal_warning').modal('hide');
        }

        // Display Warning modal to close the video stream
        function modal_close_warning(){
            $('#modal_warning').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_warning').modal('show');
            $(".modal-backdrop").remove();
        }

        // Enable Visualization button
        function display_visual_button(){
            setTimeout(function() { $('#to_visuals').show();}, 5000);

        }

        // Function to indicate detection is done
        function send_stream(){

            var data = "send"
            var json_data = JSON.stringify(data);

            $.ajax({
                url:"/detection",
                type:"POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(json_data)});

            $('#start').prop('disabled', true);
        }

        // Initialization modal display
        function modal_init(){
            $('#modal_init').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_init').modal('show');
            $(".modal-backdrop").remove();
            setTimeout(function() {$('#modal_init').modal('hide');}, 3000);
        }

    </script>

</body>
</html>
