<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ArUco Motion Detection Thesis">
    <meta name="author" content="Mithil Kashipurad">
    <title>ArUco Motion Detection Thesis</title>

    <!-- font icons -->
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + CSS main styles -->
	<link rel="stylesheet" href="/static/css/css_file.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/imgs/aruco_logo.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4 class="subtitle font-weight-normal" style="color:aliceblue">ArUco Motion Detection</h4>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link btn btn-info" style="border-radius:5px" href="about.html">About</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
    <header id="home_header" class="header">
        <div class="overlay"></div>
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                <h2 style="color:rgb(102, 102, 255);text-align:center;"><b>File Creation</b></h2>
                <div  style="position: absolute;top:50%;right:43.5%;-ms-transform: translateY(-50%);transform: translateY(-50%);margin-top:50px;">
                    <button type="button" class="btn btn-dark" style="border-radius:5px" onclick="window.location.href='/'"><b style="font-size:18px;"><</b> &nbsp;&nbsp;Back to Setup Phase</button>
                </div>
                    {% if file_exists %}
                        <div id="modal_file_exists" class="modal" >
                            <h2 style="color:rgb(64,127,183);text-align:center;"><b>File Creation</b></h2>
                            <!-- Modal content -->
                            <div class="modal-content" style="margin-top:30px;border-radius:20px">
                                <p style="font-family:Arial;">
                                    <center>
                                        <p style="background-color: rgb(237, 62, 62, 0.4);padding-top: 10px;padding-bottom: 10px;border-radius:10px"> The file name <b style="color:red">{{ filename }}.csv </b> already exists.</p>
                                        <div style="background-color: rgb(119, 117, 118, 0.2);padding-top: 10px;padding-bottom: 20px;border-radius:20px;margin-top:30px">
                                            <p style="padding-bottom: 20px;">Do you want to <b>append</b> the data generated in this trial to the existing <br> file or <b>delete</b> it to create a new file with the same name?</p>
                                            <div style="text-align: center;">
                                                <button id="append" name="append" type="button" class="btn" style="background-color: #4CAF50;margin-right:30px;border-radius:5px" onclick="send_append();call_info_modal();">Append &nbsp;&nbsp;<b style="font-size:18px;">></b> </button>
                                                <button id="delete" name="delete" type="button" class="btn btn-primary" style="border-radius:5px" onclick="send_delete();call_info_modal();">Delete &nbsp;&nbsp;<b style="font-size:18px;">></b></button>
                                            </div>
                                        </div>
                                        <br>
                                        <div  style="background-color: rgb(119, 117, 118, 0.2);padding-top: 10px;padding-bottom: 20px;border-radius:20px">
                                            <p style="padding-bottom: 20px;">Click on the <b>Back</b> button to return to the previous page to change the file name.</p>
                                            <button type="button" class="btn btn-dark btn-block" style="border-radius:5px" onclick="window.location.href='/'"><b style="font-size:18px;"><</b> &nbsp;&nbsp;Back to Setup</button>
                                        </div>
                                    </center>
                                </p>
                            </div>
                         </div>
                    {% else %}
                        <div id="modal_file_not_exists" class="modal">
                            <h2 style="color:rgb(64,127,183);text-align:center;"><b>File Creation</b></h2>
                            <div class="modal-content" style="margin-top:30px;border-radius:20px">
                                <p style="font-family:Arial;">
                                    <center>
                                        <br>
                                        <p style="background-color: rgb(76, 175, 80, 0.4);padding-top: 10px;padding-bottom: 10px;"> A new file, <b>{{ filename }}.csv</b> will be created at: <br><i>'{{ file_path }}'</i></p>
                                        <br>
                                        <button id="next" name="next" type="button" class="btn btn-block" style="background-color:rgb(64,127,183)" onclick="send_new_file();call_info_modal();">Next &nbsp;&nbsp;<b style="font-size:18px;">></b></button>
                                        <br>
                                        <button type="button" class="btn btn-dark" style="border-radius:5px" onclick="window.location.href='/'"><b style="font-size:18px;">&nbsp;<</b> &nbsp; &nbsp;Back to Setup &nbsp; &nbsp;</button>
                                    </center>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div id="modal_info" class="modal" style="margin-top:20px">
        <!-- Modal content -->
        <div class="modal-content modal-dialog-scrollable" style="overflow-y:scroll;border-radius:20px">
          <p>
            <center>
                <p style="font-family:Arial;background-color: rgb(119, 117, 118, 0.4);padding-top: 10px;padding-bottom: 10px;border-radius:10px"><b>ArUco Markers</b> can be generated for free <a href="https://chev.me/arucogen/" target="_blank"><u>here.</u></a></p>
                <div style="background-color: rgb(119, 117, 118, 0.3);border-radius:20px">
                    <form class="contact-form" method="POST" id="form_tool_aruco_map" style="padding-bottom:20px;">
                        <div class="form-row">
                            <div class="col form-group">
                                <h6 class="subtitle font-weight-normal" style="color:rgb(64,127,183);padding-top:20px;padding-bottom:20px;background-color:rgb(64,127,183,0.3);border-radius: 20px 20px 0px 0px"><b>ArUco Marker mapping of the tools</b></h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <center>
                                    <p>The following is the tool list with their corresponding marker IDs:</p>
                                    <table class="table" style="background-color:white">
                                        <tr>
                                            <th>Tool</th>
                                            <th>Marker ID</th>
                                        </tr>
                                        {% for key, value in dict.items() %}
                                        <tr>
                                            <td>{{value}}</td>
                                            <td>{{key}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </center>
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="col form-group">
                                <center>
                                    <button type="submit" id="to_detection" name="to_detection" class="btn btn-block" style="background-color:rgb(64,127,183);border-radius:5px" onclick="window.location.href='/detection'">To Detection &nbsp;&nbsp;<b style="font-size:18px;">></b></button>
                                    <br>
                                    <button type="button" class="btn btn-dark" style="border-radius:5px" onclick="window.location.href='/'"><b style="font-size:18px;">&nbsp;<</b> &nbsp; &nbsp;Back to Setup &nbsp; &nbsp;</button>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </center>
          </p>
        </div>
	</div>

	<!-- core  -->
    <script src="/static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/static/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="/static/vendors/owl-carousel/js/owl.carousel.js"></script>

    <!-- Script js -->
    <script src="/static/js/scripts.js"></script>

    <script type="text/javascript">

        //display file exists modal on window load
        $(window).on('load', function() {
            $('#modal_file_exists').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_file_exists').modal('show');
            $(".modal-backdrop").remove();
            /*var span = document.getElementsByClassName("close")[0];
            /span.onclick = function() {
                $('#modal_file_exists').modal('hide');
            }
            */
        });

        //display file does not exist modal on window load
        $(window).on('load', function() {
            $('#modal_file_not_exists').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_file_not_exists').modal('show');
            $(".modal-backdrop").remove();
            /*var span = document.getElementsByClassName("close")[0];
            /span.onclick = function() {
                $('#modal_file_exists').modal('hide');
            }
            */
        });

        // Call info modal
        function call_info_modal(){
            $('#modal_info').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_file_exists').modal('hide');
            $('#modal_file_not_exists').modal('hide');
            $('#modal_info').modal('show');
            $(".modal-backdrop").remove();
        }

        // Send append data
        function send_append(){

            var data = "a"
            var json_data = JSON.stringify(data);
            console.log("Append selected");

            $.ajax({
                url:"/append_delete",
                type:"POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(json_data)});
        }

        // Send delete data
        function send_delete(){

            var data = "d"
            var json_data = JSON.stringify(data);
            console.log("Delete selected");

            $.ajax({
                url:"/append_delete",
                type:"POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(json_data)});
        }

        // Send new file create
        function send_new_file(){

            var data = "new"
            var json_data = JSON.stringify(data);
            console.log("Delete selected");

            $.ajax({
                url:"/append_delete",
                type:"POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(json_data)});
        }

    </script>
    <script>

    </script>
</body>
</html>
