<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ArUco Motion Detection Thesis">
    <meta name="author" content="Mithil Kashipurad">
    <title>ArUco Motion Detection Thesis</title>

    <!-- font icons -->
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">

    <!-- favicon -->
    <link rel="icon" href="/static/imgs/aruco_logo.png">

    <!-- owl carousel -->
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + CSS main styles -->
	<link rel="stylesheet" href="/static/css/css_file.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/imgs/aruco_logo.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4 class="subtitle font-weight-normal" style="color:aliceblue">ArUco Motion Detection</h4>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-0 ml-lg-4">
                        <button class="nav-link btn btn-primary" style="border-radius:5px" onclick="exit_modal()">Home</button>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link btn btn-info" style="border-radius:5px" href="/visualizations_info" target="_blank"><img src="/static/imgs/info.png" alt="" class="brand-img" style="height:20px;width:20px"> &nbsp;Page Info</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header id="home_header" class="header">

        <div class="overlay"></div>
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <form class="contact-form" method="POST" id="form" style="margin-top:80px">
                        <div class="form-row">
                                <div class="col form-group">
                                     <center>
                                         <h2 class="subtitle font-weight-normal" style="color:rgb(64,127,183);"><b>Visualizations</b></h2>
                                    </center>
                                 </div>
                        </div>
                        {% if prev_data|length > 0 %} <!-- prev_data is data that is present in an already existing file-->
                            <div class="form-row" style="background-color:rgb(0, 0, 0, 0.3);padding-top:20px;padding-bottom:10px;border-radius:20px">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue;padding-top:10px">The order of the tool usage is:</h6>
                                        <table class="table" style="background-color:white; font-family:Arial;margin-top:20px">
                                            <tr style="width:100%">
                                                <th style="text-align:center">Order</th>
                                                <th style="width:150px;text-align:center">Tool</th>
                                                <th style="width:180px;text-align:center">Start Time</th>
                                                <th style="width:180px;text-align:center">End Time</th>
                                                <th style="width:80px;text-align:center">Duration (seconds)</th>
                                            </tr>
                                            {% if ordered_df|length > 0 %} <!-- ordered_df is the newly added data, we are checking if newly added data is empty or not-->
                                                {% for index, row in ordered_df.iterrows(): %}
                                                    {% set order = index %}
                                                    {% set tool = row['ID'] %}
                                                    {% set start_time = row['StartDate'] %}
                                                    {% set end_time = row['EndDate'] %}
                                                    {% set duration = row['Duration'] %}
                                                    <tr style="text-align:center">
                                                        <td>{{order}}</td>
                                                        <td>{{tool}}</td>
                                                        <td>{{start_time}}</td>
                                                        <td>{{end_time}}</td>
                                                        <td>{{duration}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for index, row in prev_data.iterrows(): %}
                                                    {% set order = index %}
                                                    {% set tool = row['ID'] %}
                                                    {% set start_time = row['StartDate'] %}
                                                    {% set end_time = row['EndDate'] %}
                                                    {% set duration = row['Duration'] %}
                                                    <tr style="text-align:center">
                                                        <td>{{order}}</td>
                                                        <td>{{tool}}</td>
                                                        <td>{{start_time}}</td>
                                                        <td>{{end_time}}</td>
                                                        <td>{{duration}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </table>
                                    </center>
                                </div>
                            </div>
                            <div class="form-row" style="background-color:rgb(0, 0, 0, 0.3);margin-top:20px;padding-top:20px;padding-bottom:10px;border-radius:20px">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue;padding-top:10px">Combined time series plot of the tools:</h6>
                                        <img src="static/imgs/plot_line_all_combined_cleaned.png" alt="Combined Time Series plot of the tools" width="1000" height="500">
                                        <a id="interactive1" name="interactive1" type="button" class="btn btn-info" style="border-radius:5px;margin-top:20px" href="/combined_plot" target="_blank">Interactive Graph ➔</a>
                                    </center>
                                </div>
                            </div>
                            <div class="form-row" style="background-color:rgb(0, 0, 0, 0.3);margin-top:20px;padding-top:20px;padding-bottom:10px;border-radius:20px">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue;padding-top:10px">Separated time series plot of the tools:</h6>
                                        <img src="static/imgs/plot_line_all_separate_cleaned.png" alt="Separated Time Series plot of the tools" width="1000" height=auto>
                                        <a id="interactive4" name="interactive4" type="button" class="btn btn-info" style="border-radius:5px;margin-top:20px" href="/separated_plot" target="_blank">Interactive Graph ➔</a>
                                    </center>
                                </div>
                            </div>
                            <div class="form-row" style="background-color:rgb(0, 0, 0, 0.3);margin-top:20px;padding-top:20px;padding-bottom:10px;border-radius:20px">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue;padding-top:10px">KDE (Kernel Density Estimation) plot of the tools (Variant 1):</h6>
                                        <img src="static/imgs/plot_kde_cleaned_variant1.png" alt="KDE (Kernel Density) plot of the tools" width="1000" height="500">
                                        <a id="interactive2" name="interactive2" type="button" class="btn btn-info" style="border-radius:5px;margin-top:20px" href="/kde_v1" target="_blank">Interactive Graph ➔</a>
                                    </center>
                                </div>
                            </div>
                            <div class="form-row" style="background-color:rgb(0, 0, 0, 0.3);margin-top:20px;padding-top:20px;padding-bottom:10px;border-radius:20px">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue;padding-top:10px">KDE (Kernel Density Estimation) plot of the tools (Variant 2):</h6>
                                        <img src="static/imgs/plot_kde_cleaned_variant2.png" alt="KDE (Kernel Density) plot of the tools" width="1000" height="500">
                                        <a id="interactive3" name="interactive3" type="button" class="btn btn-info" style="border-radius:5px;margin-top:20px" href="/kde_v2" target="_blank">Interactive Graph ➔</a>
                                    </center>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-row" style="background-color:rgb(0, 0, 0, 0.3);margin-top:20px;padding-top:20px;padding-bottom:10px;border-radius:20px">
                                <div class="col form-group">
                                    <center>
                                        <h6 class="subtitle font-weight-normal" style="color:aliceblue;padding-top:10px">No Data to be visualized</h6>
                                    </center>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    </header>
    <div id="modal_loading" class="modal" >
        <div class="modal-content" style="margin-top:50px;border-radius:20px">
            <center>
                <h5 style="color:rgb(237, 62, 62, 1);text-align:center;padding-top:30px;"><b>Loading Visualizations</b></h5>
                <br><br>
                <img style="margin-top:40px;margin-bottom:70px;" src="static/imgs/loading.gif" width="80" height="80">
                <br><br>
            </center>
        </div>
    </div>

    <div id="modal_exit" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="margin-top:120px;border-radius:20px">
          <p>
            <center>
                <div style="background-color: rgb(255, 204, 0, 0.4);padding-bottom:20px;border-radius:20px">
                    <p style="background-color: rgb(237, 62, 62, 0.4);padding-top:10px;padding-bottom:10px;border-radius:20px 20px 0px 0px;color:red"><b> Exit </b></p>
                    <p style="padding-top:10px;">
                        Do you want to exit to go to the start (Setup Phase)?
                    </p>
                    <div style="text-align: center;">
                        <button id="yes" name="yes" type="button" class="btn" style="background-color: #4CAF50;margin-right:30px;border-radius:5px" onclick="window.location.href='/'">Yes &nbsp;&nbsp;<b style="font-size:18px;">✔</b> </button>
                        <button id="no" name="no" type="button" class="btn btn-primary" style="border-radius:5px" onclick="close_exit_modal()">No &nbsp;&nbsp;<b style="font-size:18px;">✖</b></button>
                    </div>
                </div>
            </center>
          </p>
        </div>
	</div>

	<!-- core  -->
    <script src="/static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Owl carousel  -->
    <script src="/static/vendors/owl-carousel/js/owl.carousel.js"></script>

    <!-- Script js -->
    <script src="/static/js/scripts.js"></script>

    <script src="/static/js/disable_browser_back_button.js"></script>

    <script type="text/javascript">

        //display loading modal on window load
        $(window).on('load', function() {
            $('#modal_loading').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_loading').modal('show');
            $(".modal-backdrop").remove();
            setTimeout(function() {$('#modal_loading').modal('hide');}, 3000);
        });

        // Display exit modal
        function exit_modal(){
            $('#modal_exit').modal({
                backdrop: 'static',
                keyboard: false
            })
            $('#modal_warning').modal('show');
            $(".modal-backdrop").remove();
        }

        // Close exit modal
        function close_exit_modal(){
        $('#modal_exit').modal('hide');
            $('#modal_exit').modal('hide');
        }
    </script>

</body>
</html>
